$main-grey: #364852;
$main-light: #F8FFFE;
$main-dark: #2C2F33;
$main-darker : #23272A;
$main-font: #d7f5f4;
$main-yellow: #f0c56e;

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Fira+Code&display=swap');
